<div
  class="carousel-container"
  (mouseenter)="pauseScroll()"
  (mouseleave)="resumeScroll()"
>
  <div class="dashboard">
    <div
      *ngIf="!isLoading && filteredWishes.length === 0"
      class="card-single-card"
    >
      <div class="card-empty">No wishes available.</div>
    </div>
  </div>

  <button class="side-arrow left-arrow mobile-only" (click)="prevCardMobile()">
    &#10094;
  </button>

  <button class="side-arrow right-arrow mobile-only" (click)="nextCardMobile()">
    &#10095;
  </button>

  <div class="carousel-track" #carouselTrack>
    <div
      class="card"
      *ngFor="let card of filteredWishes; trackBy: trackByWish"
      [attr.data-category]="
        card.category &&
        card.category !== 'null' &&
        card.category !== 'undefined'
          ? card.category
          : null
      "
      [class.no-category]="
        !card.category ||
        card.category === 'null' ||
        card.category === 'undefined'
      "
    >
      <div class="card-banner">
        <div class="profile-pic-container">
          <img [src]="card.image" [alt]="card.name" />
        </div>
      </div>

      <div class="card-body">
        <h3>{{ card.name }}</h3>

        <p *ngIf="card.category === CATEGORY_BIRTHDAY" class="birthday-text">
          🎉 Wishing you a very Happy Birthday!
        </p>

        <p
          *ngIf="card.category === CATEGORY_ANNIVERSARY"
          class="anniversary-text"
        >
          🎊 Happy Work Anniversary!
        </p>

        <p *ngIf="card.category === CATEGORY_ONBOARDING" class="onboard-text">
          👋 Welcome Onboard!
        </p>
      </div>
    </div>
  </div>
</div>
