.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0px 10px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.full-width {
  grid-column: 1 / -1;
}

input,
select,
textarea {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.input-padding {
  padding: 0px !important;
}
.custom-form-field {
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-form-field .mat-form-field-wrapper {
  padding: 0 !important;
  margin: 0;
}

.custom-form-field .mat-form-field-flex {
  align-items: center;
  padding: 0 !important;
  min-height: 40px;
}

.custom-form-field .mat-form-field-infix {
  padding: 0 !important;
  border-top: 0 !important;
  min-height: 30px;
}

.custom-form-field .mat-form-field-label {
  font-size: 14px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  transition: all 0.2s ease;
}

.custom-form-field.mat-form-field-should-float .mat-form-field-label {
  top: 0.7em !important;
  transform: none !important;
  font-size: 12px;
}

.custom-form-field input.mat-input-element {
  padding: 2px 8px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}

.custom-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.custom-form-field .mat-form-field-wrapper {
  padding: 0 !important;
}

.custom-form-field .mat-form-field-flex {
  align-items: center;
  padding: 0 !important;
  min-height: 40px;
}

.custom-form-field .mat-form-field-infix {
  padding: 0 !important;
  border-top: 0 !important;
  min-height: 30px;
}

.custom-form-field .mat-form-field-label {
  font-size: 14px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  transition: all 0.2s ease;
}

.custom-form-field.mat-form-field-should-float .mat-form-field-label {
  top: 0.7em !important;
  transform: none !important;
  font-size: 12px;
}

.custom-form-field input.mat-input-element {
  padding: 2px 8px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}
