<div class="tabs">
  <a (click)="navigateTo('empdetails')" [class.active-tab]="isActive('empdetails')">Personal</a>
  <a (click)="navigateTo('empkyc')" [class.active-tab]="isActive('empkyc')">KYC</a>
  <a (click)="navigateTo('emppassport')" [class.active-tab]="isActive('emppassport')">Passport & Visa</a>
  <a (click)="navigateTo('empfamily')" [class.active-tab]="isActive('empfamily')">Family</a>
  <a (click)="navigateTo('emppreviousEmployee')" [class.active-tab]="isActive('emppreviousEmployee')">Previous Employment</a>
  <a (click)="navigateTo('empeducation')" [class.active-tab]="isActive('empeducation')">Education</a>
  <a (click)="navigateTo('empskills')" [class.active-tab]="isActive('empskills')">Skills</a>
  <a (click)="navigateTo('empcertificate')" [class.active-tab]="isActive('empcertificate')">Certifications</a>
  <a (click)="navigateTo('empdocument')" [class.active-tab]="isActive('empdocument')">Documents</a>
  <a (click)="navigateTo('empresume')" [class.active-tab]="isActive('empresume')">Resume</a>
  <a (click)="navigateTo('empfinal')" [class.active-tab]="isActive('empfinal')">Final</a>
</div>
