<div class="tabs">
    <a routerLink="/mainlayout/empdetails" routerLinkActive="active-tab"  [routerLinkActiveOptions]="{ exact: true }">Personal</a>
    <a routerLink="/mainlayout/empkyc" routerLinkActive="active-tab">KYC</a>
    <a routerLink="/mainlayout/emppassport" routerLinkActive="active-tab">Passport & Visa</a>
    <a routerLink="/mainlayout/empfamily" routerLinkActive="active-tab">Family</a>
    <a routerLink="/mainlayout/emppreviousEmployee" routerLinkActive="active-tab">Previous Employment</a>
    <a routerLink="/mainlayout/empeducation" routerLinkActive="active-tab">Education</a>
    <a routerLink="/mainlayout/empskills" routerLinkActive="active-tab">Skills</a>
    <a routerLink="/mainlayout/empcertificate" routerLinkActive="active-tab">Certifications</a>
    <a routerLink="/mainlayout/empdocument" routerLinkActive="active-tab">Document</a>
    <a routerLink="/mainlayout/empresume" routerLinkActive="active-tab">Resume</a>
    <a routerLink="/mainlayout/empfinal" routerLinkActive="active-tab">Final</a>
  </div>
  