<div class="tabs">
    <a routerLink="/admin/empdetails" routerLinkActive="active-tab"  [routerLinkActiveOptions]="{ exact: true }">Personal</a>
    <a routerLink="/admin/empkyc" routerLinkActive="active-tab">KYC</a>
    <a routerLink="/admin/emppassport" routerLinkActive="active-tab">Passport & Visa</a>
    <a routerLink="/admin/empfamily" routerLinkActive="active-tab">Family</a>
    <a routerLink="/admin/emppreviousEmployee" routerLinkActive="active-tab">Previous Employment</a>
    <a routerLink="/admin/empeducation" routerLinkActive="active-tab">Education</a>
    <a routerLink="/admin/empskills" routerLinkActive="active-tab">Skills</a>
    <a routerLink="/admin/empcertificate" routerLinkActive="active-tab">Certifications</a>
    <a routerLink="/admin/empdocument" routerLinkActive="active-tab">Document</a>
    <a routerLink="/admin/empresume" routerLinkActive="active-tab">Resume</a>
    <a routerLink="/admin/empfinal" routerLinkActive="active-tab">Final</a>
  </div>
  