<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <img src="assets/images/TVM Infotech Logo.jpg" class="logo" />
    <div class="sidebar-list">
      <nav class="nav" aria-label="Primary navigation">
        <ul>
          <!-- Home -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleHomeDropdown()"
              [attr.aria-expanded]="showHomeDropdown"
              aria-controls="homeDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">home</span> Home
              <span class="accordion-icon">
                {{ showHomeDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showHomeDropdown"
              class="dropdown-content"
              id="homeDropdown"
            >
              <ul class="dropdown-list" role="menu">
                <li>
                  <a routerLink="dashboard" class="nav-link sub"
                    ><span class="material-icons">space_dashboard</span>
                    Dashboard</a
                  >
                </li>
                <li>
                  <a routerLink="holidays" class="nav-link sub"
                    ><span class="material-icons">beach_access</span>
                    Holidays</a
                  >
                </li>
                <li>
                  <a routerLink="feedbacks" class="nav-link sub"
                    ><span class="material-icons">question_answer</span> My
                    Feedbacks</a
                  >
                </li>
                <li>
                  <a routerLink="organization" class="nav-link sub"
                    ><span class="material-icons">account_box</span>
                    Organization Directory</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Work from Home -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleWFHDropdown()"
              [attr.aria-expanded]="showWFHDropdown"
              aria-controls="wfhDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">home_work</span> Work from Home
              <span class="accordion-icon">
                {{ showWFHDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showWFHDropdown"
              class="dropdown-content"
              id="wfhDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="workfromhome" class="nav-link sub"
                    ><span class="material-icons">assignment</span> WFH
                    Request</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Leave & Attendance -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleLeaveDropdown()"
              [attr.aria-expanded]="showLeaveDropdown"
              aria-controls="leaveDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">event_note</span> Leave & Attendance
              <span class="accordion-icon">
                {{ showLeaveDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showLeaveDropdown"
              class="dropdown-content"
              id="leaveDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="myleave" class="nav-link sub"
                    ><span class="material-icons">calendar_today</span> My
                    Leave</a
                  >
                </li>
                <li>
                  <a routerLink="attendance" class="nav-link sub"
                    ><span class="material-icons">fact_check</span> My
                    Attendance</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Timesheets -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleTimesheetDropdown()"
              [attr.aria-expanded]="showTimesheetDropdown"
              aria-controls="timesheetDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">schedule</span> Timesheets
              <span class="accordion-icon">
                {{ showTimesheetDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showTimesheetDropdown"
              class="dropdown-content"
              id="timesheetDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="Timelog" class="nav-link sub"
                    ><span class="material-icons">edit_calendar</span> Timesheet
                    Entry</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Tasks -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleTaskDropdown()"
              [attr.aria-expanded]="showTaskDropdown"
              aria-controls="taskDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">checklist</span> Tasks
              <span class="accordion-icon">
                {{ showTaskDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showTaskDropdown"
              class="dropdown-content"
              id="taskDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="task" class="nav-link sub"
                    ><span class="material-icons">task</span> My Tasks</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Goal -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleOKRDropdown()"
              [attr.aria-expanded]="showOKRDropdown"
              aria-controls="okrDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">flag</span> Goal Sheet
              <span class="accordion-icon">
                {{ showOKRDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showOKRDropdown"
              class="dropdown-content"
              id="okrDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="goal" class="nav-link sub"
                    ><span class="material-icons">star_rate</span> My Goal
                    Sheet</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Offboarding -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleOffboardingDropdown()"
              [attr.aria-expanded]="showOffboardingDropdown"
              aria-controls="offboardingDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">assignment_ind</span> Off Boarding
              <span class="accordion-icon">
                {{ showOffboardingDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showOffboardingDropdown"
              class="dropdown-content"
              id="offboardingDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="resignation" class="nav-link sub"
                    ><span class="material-icons">exit_to_app</span>
                    Resignation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Onboarding -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleOnboardingDropdown()"
              [attr.aria-expanded]="showOnboardingDropdown"
              aria-controls="onboardingDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">how_to_reg</span> OnBoarding
              <span class="accordion-icon">
                {{ showOnboardingDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showOnboardingDropdown"
              class="dropdown-content"
              id="onboardingDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="personal" class="nav-link sub"
                    ><span class="material-icons">person</span> Personal Info</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Add Job Opening -->
          <li class="dropdown">
            <button
              class="nav-button"
              (click)="toggleAddJobDropdown()"
              [attr.aria-expanded]="showAddJobDropdown"
              aria-controls="addJobDropdown"
              aria-haspopup="true"
            >
              <span class="material-icons">add_business</span> Add Job Opening
              <span class="accordion-icon">
                {{ showAddJobDropdown ? "⯆" : "⯈" }}
              </span>
            </button>
            <div
              *ngIf="showAddJobDropdown"
              class="dropdown-content"
              id="addJobDropdown"
            >
              <ul class="dropdown-list">
                <li>
                  <a routerLink="addopening" class="nav-link sub"
                    ><span class="material-icons">add_box</span> Add Opening</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- Main Content -->
  <main>
    <div class="top-bar-icons">
      <button class="icon-btn" (click)="toggleSearch()">
        <span class="material-icons">{{
          showSearch ? "close" : "search"
        }}</span>
      </button>
      <input
        *ngIf="showSearch"
        type="text"
        placeholder="Search..."
        class="search-input"
      />

      <button class="icon-btn">
        <span class="material-icons">notifications</span>
      </button>

      <div class="settings-wrapper">
        <button class="icon-btn" (click)="toggleSettings()">
          <span class="material-icons">settings</span>
        </button>
        <div *ngIf="showSettings" class="settings-dropdown">
          <div class="profile-header">
            <img src="assets/profile.jpg" alt="Profile" class="profile-img" />
            <div class="profile-name">Ramkumar Raja</div>
          </div>
          <ul class="settings-menu">
            <li><span class="material-icons">person</span> My Profile</li>
            <li>
              <span class="material-icons">campaign</span> My Announcements
            </li>
            <li>
              <span class="material-icons">notifications</span> My Notifications
            </li>
            <li><span class="material-icons">event</span> Holidays</li>
            <!-- <li><span class="material-icons">logout</span> Logout</li> -->
             <li (click)="onLogout()">
             <span class="material-icons">logout</span> Logout
             </li>
      
          </ul>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>
</div>
