<app-nav-details></app-nav-details>
<div id="container">
  <form [formGroup]="kycForm" (ngSubmit)="submitForm()">
    <div class="form-grid">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>PAN Card Number</mat-label>
        <input
          matInput
          type="text"
          formControlName="pan"
          placeholder="ABCDE1234F"
          (input)="onPanInput($event)"
          class="input-padding"
          maxlength="10"
        />

        <mat-error *ngIf="kycForm.get('pan')?.touched">
          <span *ngIf="kycForm.get('pan')?.hasError('required')"
            >PAN is required</span
          >
          <span *ngIf="kycForm.get('pan')?.hasError('pattern')"
            >Invalid PAN format (ABCDE1234F)</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Name on PAN</mat-label>
        <input
          matInput
          type="text"
          formControlName="panName"
          placeholder="Name on PAN"
          class="input-padding"
        />

        <mat-error *ngIf="kycForm.get('panName')?.touched">
          <span *ngIf="kycForm.get('panName')?.hasError('required')"
            >Name on PAN is required</span
          >
          <span *ngIf="kycForm.get('panName')?.hasError('minlength')"
            >Name should be at least 3 characters long</span
          >
          <span *ngIf="kycForm.get('panName')?.hasError('pattern')"
            >Name should contain only letters and spaces</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Aadhar Number</mat-label>
        <input
          matInput
          type="text"
          formControlName="aadhar"
          placeholder="1111 2222 3333"
          class="input-padding"
          maxlength="12"
        />

        <mat-error *ngIf="kycForm.get('aadhar')?.touched">
          <span *ngIf="kycForm.get('aadhar')?.hasError('required')"
            >Aadhar Number is required</span
          >
          <span *ngIf="kycForm.get('aadhar')?.hasError('pattern')"
            >Aadhar must be exactly 12 digits</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Name on Aadhar</mat-label>
        <input
          matInput
          type="text"
          formControlName="aadharName"
          placeholder="Name on Aadhar"
          class="input-padding"
        />

        <mat-error *ngIf="kycForm.get('aadharName')?.touched">
          <span *ngIf="kycForm.get('aadharName')?.hasError('required')"
            >Name on Aadhar is required</span
          >
          <span *ngIf="kycForm.get('aadharName')?.hasError('minlength')"
            >Name should be at least 3 characters long</span
          >
          <span *ngIf="kycForm.get('aadharName')?.hasError('pattern')"
            >Name should contain only letters and spaces</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>UAN Number</mat-label>
        <input
          matInput
          type="text"
          formControlName="uan"
          placeholder="100234567890"
          class="input-padding"
          maxlength="12"
        />

        <mat-error *ngIf="kycForm.get('uan')?.touched">
          <span *ngIf="kycForm.get('uan')?.hasError('required')"
            >UAN Number is required</span
          >
          <span *ngIf="kycForm.get('uan')?.hasError('pattern')"
            >UAN must be exactly 12 digits</span
          >
        </mat-error>
      </mat-form-field>

      <!-- PF Number -->
      <mat-form-field appearance="outline">
        <mat-label>PF Number</mat-label>
        <input
          matInput
          type="text"
          formControlName="pf"
          placeholder="TNMAS1234567000001234567"
          class="input-padding"
          maxlength="22"
        />

        <mat-error *ngIf="kycForm.get('pf')?.touched">
          <span *ngIf="kycForm.get('pf')?.hasError('required')"
            >PF Number is required</span
          >
          <span *ngIf="kycForm.get('pf')?.hasError('pattern')"
            >Enter a valid PF Number</span
          >
        </mat-error>
      </mat-form-field>

      <!-- HDFC Bank Details -->
      <mat-form-field appearance="outline" class="full-width custom-form-field">
        <mat-label>Do you have HDFC Bank Details?</mat-label>
        <mat-select formControlName="hdfc" class="input-padding">
          <mat-option value="">Select</mat-option>
          <mat-option value="yes">Yes</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>

        <mat-error *ngIf="kycForm.get('hdfc')?.touched">
          <span *ngIf="kycForm.get('hdfc')?.hasError('required')"
            >Please select an option</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button-group">
      <div>
        <button class="back-button" type="button" (click)="back()">
          &laquo; Back
        </button>
      </div>

      <div>
        <button type="submit">Next &raquo;</button>
      </div>
    </div>
  </form>
</div>
