.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.2rem;
  margin: 20px auto;
  max-width: 800px; /* Reduces overall width */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.form-group input,
.form-group select {
  padding: 8px;
  font-size: 0.95rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
}



/* .prev-btn, 
.next-btn,*/
.save-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.button-group a {
  text-decoration: none;
  color: #004aad;
  font-weight: bold;
}


.save-btn:hover
 {
  background-color: #0056b3;
}

.info-box {
  margin-top: 20px;
  background-color: #fff3cd;
  color: #856404;
  padding: 10px 15px;
  border-left: 5px solid #ffeeba;
  border-radius: 4px;
  font-size: 0.9rem;
  max-width: 800px;
  margin-inline: auto;
}

.button-group {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.button-group a {
  text-decoration: none;
  background-color: #f0f0f0;
  padding: 8px 10px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
}

.button-group a:hover, .update-button:hover {
  background-color: #004aad;
  color: white;
}

.error{
  color: red;
  margin-top:5px ;
  font-size: 14px;
}