<app-nav-details></app-nav-details>
<div class="PV-container">
  <form #form="ngForm" [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="form-grid">
      <!-- Nationality -->
      <mat-form-field appearance="outline">
        <mat-label>Nationality</mat-label>
        <mat-select formControlName="nationality" class="input-padding">
          <mat-option value="">Select</mat-option>
          <mat-option value="Indian">Indian</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>

        <mat-error
          *ngIf="
            userForm.get('nationality')?.touched &&
            userForm.get('nationality')?.hasError('required')
          "
        >
          Nationality is required
        </mat-error>
      </mat-form-field>

      <!-- Passport Number -->
      <!-- Passport dropdown -->
      <mat-form-field appearance="outline">
        <mat-label>Do you have passport?</mat-label>
        <mat-select formControlName="ifPassport" class="input-padding">
          <mat-option value="">Select</mat-option>
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            userForm.get('ifPassport')?.touched &&
            userForm.get('ifPassport')?.hasError('required')
          "
        >
          Please select if you have a passport
        </mat-error>
      </mat-form-field>

      <!-- Passport Number (conditionally visible) -->
      <div *ngIf="userForm.get('ifPassport')?.value === 'Yes'">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Enter Passport Number</mat-label>
          <input
            matInput
            formControlName="passportNumber"
            placeholder="Passport Number"
            class="input-padding"
          />
          <mat-error
            *ngIf="
              userForm.get('passportNumber')?.touched &&
              userForm.get('passportNumber')?.hasError('required')
            "
          >
            Passport Number is required
          </mat-error>

          <mat-error
            *ngIf="userForm.get('passportNumber')?.hasError('required')"
          >
            Passport Number is required
          </mat-error>
          <mat-error
            *ngIf="userForm.get('passportNumber')?.hasError('pattern')"
          >
            Only alphanumeric characters allowed
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('passportNumber')?.hasError('minlength') ||
              userForm.get('passportNumber')?.hasError('maxlength')
            "
          >
            Passport Number must be exactly 8 characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="button-group">
      <div>
        <button class="back-button" type="button" (click)="back()">
          &laquo; Back
        </button>
      </div>
      <div>
        <button type="submit">Next &raquo;</button>
      </div>
    </div>
  </form>
</div>
