.tabs-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 6px 44px; 
}
.tabs::-webkit-scrollbar {
  display: none; 
}
.tabs {
  scrollbar-width: none;
}

.tabs a {
  text-decoration: none;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  color: black;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.tabs a.active-tab {
  font-weight: bold;
  color: blue;
  border-bottom: 2px solid blue;
}

.tabs a.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #0a0f3c;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.scroll-btn .material-icons {
  color: #fff;
  font-size: 20px;
}

.scroll-btn.left {
  left: 1px;
}

.scroll-btn.right {
  right: 1px;
}

.scroll-btn:hover {
  background-color: #ffffff;
  transform: translateY(-50%) scale(1.05);
}

.scroll-btn:hover .material-icons {
  color: #000;
}

.scroll-btn.hidden {
  display: none !important;
}
.tabs-container::before,
.tabs-container::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px; 
  z-index: 1399; 
  pointer-events: none; 
}

.tabs-container::before {
  left: 0;
}

.tabs-container::after {
  right: 0;
}