<div class="tabs">
  <a routerLink="/mainlayout/personal" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Personal</a>
  <a routerLink="/mainlayout/kyc" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">KYC</a>
  <a routerLink="/mainlayout/passport" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Passport & Visa</a>
  <a routerLink="/mainlayout/family" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Family</a>
  <a routerLink="/mainlayout/previousEmployee" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Previous Employment</a>
  <a routerLink="/mainlayout/education" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Education</a>
  <a routerLink="/mainlayout/skills" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Skills</a>
  <a routerLink="/mainlayout/certificate" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Certifications</a>
  <a routerLink="/mainlayout/document" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Document</a>
  <a routerLink="/mainlayout/resume" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Resume</a>
  <a routerLink="/mainlayout/final" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Final</a>
</div>
