<div class="main-container">
  <div class="PV-container" *ngIf="userData">
    <div class="profile-back-btn">
      <button mat-icon-button class="back-btn" (click)="goBack()">
        <mat-icon class="gradient-icon">arrow_back</mat-icon>
      </button>
    </div>
    <h1 class="profile-title">PROFILE INFORMATION</h1>
    <div class="profile-header">
      <div class="profile-image">
        <img
          [src]="profileImageUrl || 'assets/images/profile.jpg'"
          alt="Profile Photo"
          class="profile-img"
          (error)="profileImageUrl = 'assets/images/profile.jpg'"
        />
      </div>

      <div class="profile-info">
        <h2>{{ fullName }}</h2>
        <p><span>E-mail:</span> {{ email }}</p>
        <p><span>EmpID:</span> {{ employeeId }}</p>
      </div>
      <ng-template #noInfo>
        <div class="no-info">
          <h3>There is no information</h3>
          <p>Please fill the onboarding form details to view your details.</p>
        </div>
      </ng-template>
    </div>

    <mat-card class="show" *ngIf="isLoaded">
      <div class="header">
        <h1>ONBOARDING INFORMATION</h1>
        <button
          mat-raised-button
          color="primary"
          class="edit-btn"
          (click)="editOnboarding()"
        >
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="onboarding-wrapper">
        <button
          class="stepper-arrow left"
          *ngIf="stepper.selectedIndex > 0"
          (click)="stepper.previous()"
        >
          ❮
        </button>
        <div class="stepper-container">
          <mat-horizontal-stepper linear #stepper>
            <mat-step label="Personal">
              <h2 class="section-title">PERSONAL DETAILS</h2>

              <mat-card class="section-card">
                <mat-card-title>Basic Information</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">First Name:</span>
                      {{ onboarding.personal.fname }}
                    </div>
                    <div class="item">
                      <span class="head">Middle Name:</span>
                      {{ onboarding.personal.mname }}
                    </div>
                    <div class="item">
                      <span class="head">Last Name:</span>
                      {{ onboarding.personal.lname }}
                    </div>
                    <div class="item">
                      <span class="head">Email:</span>
                      {{ onboarding.personal.email }}
                    </div>
                    <div class="item">
                      <span class="head">Gender:</span>
                      {{ onboarding.personal.gender }}
                    </div>
                    <div class="item">
                      <span class="head">DOB:</span>
                      {{ onboarding.personal.dob | date : "dd-MM-yyyy" }}
                    </div>
                    <div class="item">
                      <span class="head">Blood Group:</span>
                      {{ onboarding.personal.bloodGroup }}
                    </div>
                    <div class="item">
                      <span class="head">Marital Status:</span>
                      {{ onboarding.personal.marital }}
                    </div>
                    <div
                      class="item"
                      *ngIf="onboarding.personal.marital === 'married'"
                    >
                      <span class="head">Marriage Date:</span>
                      {{ onboarding.personal.marriegedate }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card class="section-card">
                <mat-card-title>Contact Details</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Current Contact:</span>
                      {{ onboarding.personal.current_contact }}
                    </div>
                    <div class="item">
                      <span class="head">Permanent Contact:</span>
                      {{ onboarding.personal.permanent_contact }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card class="section-card">
                <mat-card-title>Emergency Contact</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Name:</span>
                      {{ onboarding.personal.emergency_contact_name }}
                    </div>
                    <div class="item">
                      <span class="head">Phone:</span>
                      {{ onboarding.personal.emergency_contact_number }}
                    </div>
                    <div class="item">
                      <span class="head">Relationship:</span>
                      {{ onboarding.personal.emergency_relationship }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card class="section-card">
                <mat-card-title>Current Address</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Address:</span>
                      {{ onboarding.personal.current_address }}
                    </div>
                    <div class="item">
                      <span class="head">City:</span>
                      {{ onboarding.personal.current_city }}
                    </div>
                    <div class="item">
                      <span class="head">State:</span>
                      {{ onboarding.personal.current_state }}
                    </div>
                    <div class="item">
                      <span class="head">Country:</span>
                      {{ onboarding.personal.current_country }}
                    </div>
                    <div class="item">
                      <span class="head">Pincode:</span>
                      {{ onboarding.personal.current_pincode }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card class="section-card">
                <mat-card-title>Experience</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Total Experience:</span>
                      {{ onboarding.personal.exp_year }} years
                      {{ onboarding.personal.exp_month }} months
                    </div>
                    <div class="item">
                      <span class="head">Relevant Experience:</span>
                      {{ onboarding.personal.relevantYear }} years
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>

            <mat-step label="KYC">
              <h2 class="section-title">KYC DETAILS</h2>

              <mat-card class="section-card">
                <mat-card-title>PAN Details</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">PAN Number:</span>
                      {{ onboarding.kyc.pan }}
                    </div>
                    <div class="item">
                      <span class="head">PAN Name:</span>
                      {{ onboarding.kyc.panName }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card class="section-card">
                <mat-card-title>Aadhar Details</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Aadhar Number:</span>
                      {{ onboarding.kyc.aadhar }}
                    </div>
                    <div class="item">
                      <span class="head">Aadhar Name:</span>
                      {{ onboarding.kyc.aadharName }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card class="section-card">
                <mat-card-title>Other KYC Details</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">UAN:</span> {{ onboarding.kyc.uan }}
                    </div>
                    <div class="item">
                      <span class="head">PF Number:</span>
                      {{ onboarding.kyc.pf }}
                    </div>
                    <div class="item">
                      <span class="head">HDFC Account:</span>
                      {{ onboarding.kyc.hdfc }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>

            <mat-step label="Passport">
              <h2 class="section-title">PASSPORT DETAILS</h2>

              <mat-card class="section-card">
                <mat-card-title>Passport Information</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Nationality:</span>
                      {{ onboarding.passport.nationality }}
                    </div>

                    <div class="item">
                      <span class="head">Has Passport?</span>
                      {{ onboarding.passport.ifPassport }}
                    </div>

                    <div
                      class="item"
                      *ngIf="onboarding.passport.ifPassport === 'Yes'"
                    >
                      <span class="head">Passport Number:</span>
                      {{ onboarding.passport.passportNumber || "N/A" }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>
            <mat-step label="Family">
              <h2 class="section-title">Family Details</h2>

              <mat-card class="section-card">
                <mat-card-title>Parents</mat-card-title>
                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Father Name:</span>
                      {{ onboarding.family.fatherName }}
                    </div>

                    <div class="item">
                      <span class="head">Father DOB:</span>
                      {{ onboarding.family.fatherDOB | date }}
                    </div>

                    <div class="item">
                      <span class="head">Mother Name:</span>
                      {{ onboarding.family.motherName }}
                    </div>

                    <div class="item">
                      <span class="head">Mother DOB:</span>
                      {{ onboarding.family.motherDOB | date }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card
                class="section-card"
                *ngIf="onboarding.family.spouseName"
              >
                <mat-card-title>Spouse Details</mat-card-title>

                <mat-card-content>
                  <div class="grid">
                    <div class="item">
                      <span class="head">Spouse Name:</span>
                      {{ onboarding.family.spouseName }}
                    </div>

                    <div class="item">
                      <span class="head">Spouse DOB:</span>
                      {{ onboarding.family.spouseDOB | date }}
                    </div>

                    <div class="item">
                      <span class="head">Spouse Gender:</span>
                      {{ onboarding.family.spouseGender }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>

              <mat-card
                class="section-card"
                *ngIf="onboarding.family.children?.length > 0"
              >
                <mat-card-title>Children</mat-card-title>

                <mat-card-content>
                  <div
                    *ngFor="
                      let child of onboarding.family.children;
                      let i = index
                    "
                    class="child-block"
                  >
                    <h4>Child {{ i + 1 }}</h4>

                    <div class="grid">
                      <div class="item">
                        <span class="head">Name:</span> {{ child.name }}
                      </div>

                      <div class="item">
                        <span class="head">DOB:</span> {{ child.dob | date }}
                      </div>

                      <div class="item">
                        <span class="head">Gender:</span> {{ child.gender }}
                      </div>
                    </div>

                    <hr />
                  </div>
                </mat-card-content>
              </mat-card>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>

            <mat-step label="Education">
              <h2 class="section-title">EDUCATION DETAILS</h2>

              <ng-container
                *ngIf="onboarding.education?.length > 0; else noEdu"
              >
                <mat-card
                  class="section-card"
                  *ngFor="let edu of onboarding.education; let i = index"
                >
                  <mat-card-title>Education {{ i + 1 }}</mat-card-title>

                  <mat-card-content>
                    <div class="grid">
                      <div class="item">
                        <span class="head">Qualification:</span>
                        {{ edu.qualification }}
                      </div>

                      <div class="item">
                        <span class="head">Specialization:</span>
                        {{ edu.specilization }}
                      </div>

                      <div class="item">
                        <span class="head">Institute:</span>
                        {{ edu.instituteName }}
                      </div>

                      <div class="item">
                        <span class="head">University:</span>
                        {{ edu.universityName }}
                      </div>

                      <div class="item">
                        <span class="head">Study Type:</span>
                        {{ edu.time }}
                      </div>

                      <div class="item">
                        <span class="head">From:</span>
                        {{ edu.fromDate | date }}
                      </div>

                      <div class="item">
                        <span class="head">To:</span>
                        {{ edu.toDate | date }}
                      </div>

                      <div class="item">
                        <span class="head">Percentage:</span>
                        {{ edu.percentage }}%
                      </div>

                      <div class="item">
                        <span class="head">Roll No:</span>
                        {{ edu.rollNo }}
                      </div>

                      <div class="item">
                        <span class="head">Education Type:</span>
                        {{ edu.educationType }}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </ng-container>

              <ng-template #noEdu>
                <p>No education details found.</p>
              </ng-template>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>

            <mat-step label="Previous Employment">
              <h2 class="section-title">PREVIOUS EMPLOYMENT</h2>

              <ng-container
                *ngIf="
                  onboarding.previousEmployment?.length > 0;
                  else noPrevEmp
                "
              >
                <mat-card
                  class="section-card"
                  *ngFor="
                    let job of onboarding.previousEmployment;
                    let i = index
                  "
                >
                  <mat-card-title>Employment {{ i + 1 }}</mat-card-title>

                  <mat-card-content>
                    <div class="grid">
                      <div class="item">
                        <span class="head">Company Name:</span>
                        {{ job.companyName }}
                      </div>

                      <div class="item">
                        <span class="head">Designation:</span>
                        {{ job.designation }}
                      </div>

                      <div class="item">
                        <span class="head">Employment Type:</span>
                        {{ job.employmentType }}
                      </div>

                      <div class="item">
                        <span class="head">Start Date:</span>
                        {{ job.startDate | date }}
                      </div>

                      <div class="item">
                        <span class="head">End Date:</span>
                        {{ job.endDate | date }}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </ng-container>

              <ng-template #noPrevEmp>
                <p>No previous employment records found.</p>
              </ng-template>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>

            <mat-step label="Skills">
              <h2 class="section-title">SKILLS</h2>

              <ng-container
                *ngIf="onboarding.skills?.length > 0; else noPrevEmp"
              >
                <mat-card
                  class="section-card"
                  *ngFor="let skills of onboarding.skills; let i = index"
                >
                  <mat-card-title>Skills {{ i + 1 }}</mat-card-title>

                  <mat-card-content>
                    <div class="grid">
                      <div class="item">
                        <span class="head">Skill Name:</span>
                        {{ skills.skillName }}
                      </div>

                      <div class="item">
                        <span class="head">Skill Category:</span>
                        {{ skills.skillCategories }}
                      </div>

                      <div class="item">
                        <span class="head">Version:</span>
                        {{ skills.versionNum }}
                      </div>

                      <div class="item">
                        <span class="head">Experience in Years:</span>
                        {{ skills.experience_year }}
                      </div>

                      <div class="item">
                        <span class="head">Experience in months:</span>
                        {{ skills.exp_month }}
                      </div>

                      <div class="item">
                        <span class="head">Ratings:</span>
                        {{ skills.selfRate }}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </ng-container>

              <ng-template #noSkills>
                <p>No Skills found.</p>
              </ng-template>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>

            <mat-step label="Certifications">
              <h2 class="section-title">CERTIFICATION</h2>

              <ng-container
                *ngIf="onboarding.certification?.length > 0; else noPrevEmp"
              >
                <mat-card
                  class="section-card"
                  *ngFor="let cert of onboarding.certification; let i = index"
                >
                  <mat-card-title>Certification{{ i + 1 }}</mat-card-title>

                  <mat-card-content>
                    <div class="grid">
                      <div class="item">
                        <span class="head">Certification Name:</span>
                        {{ cert.certificateName }}
                      </div>

                      <div class="item">
                        <span class="head">Certified By:</span>
                        {{ cert.certifiedBy }}
                      </div>

                      <div class="item">
                        <span class="head">Completion Date:</span>
                        {{ cert.completionDate | date }}
                      </div>

                      <div class="item">
                        <span class="head">Marks:</span>
                        {{ cert.marks }}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </ng-container>

              <ng-template #noCertification>
                <p>No Certifications found.</p>
              </ng-template>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>
              </div>
            </mat-step>

            <mat-step label="Documents">
              <h2 class="section-title">UPLOADED DOCUMENTS</h2>

              <div class="doc-grid">
                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.panCard"
                  (click)="viewDocument('pancard')"
                >
                  View PanCard
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.aadharCard"
                  (click)="viewDocument('aadharcard')"
                >
                  View AadharCard
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.matric"
                  (click)="viewDocument('matric')"
                >
                  View
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.intermediate"
                  (click)="viewDocument('intermediate')"
                >
                  View 12thMarksheet
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.graduationMarksheet"
                  (click)="viewDocument('graduationmarksheet')"
                >
                  View GraduationMarksheet
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.postGraduation"
                  (click)="viewDocument('postgraduation')"
                >
                  View PostGraduationMarksheet
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.checkLeaf"
                  (click)="viewDocument('checkleaf')"
                >
                  View CheckLeaf
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.passbook"
                  (click)="viewDocument('passbook')"
                >
                  View PassBook
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="doc-card"
                  *ngIf="onboarding.documents.psizePhoto"
                  (click)="viewDocument('psizephoto')"
                >
                  View Photo
                </button>
              </div>

              <div class="step-actions">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="stepper.selectedIndex !== 0"
                  (click)="stepper.previous()"
                >
                  Previous
                </button>

                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  *ngIf="stepper.selectedIndex !== stepper.steps.length - 1"
                  (click)="stepper.next()"
                >
                  Next
                </button>

                <button
                  mat-raised-button
                  class="back push-right"
                  *ngIf="stepper.selectedIndex === stepper.steps.length - 1"
                  (click)="goBack()"
                >
                  Back
                </button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
        <button
          class="stepper-arrow right"
          *ngIf="stepper.selectedIndex < stepper.steps.length - 1"
          (click)="stepper.next()"
        >
          ❯
        </button>
      </div>

      <ng-template #documentPopup let-data>
        <h2 mat-dialog-title>Document Preview</h2>

        <mat-dialog-content>
          <img
            *ngIf="data.fileType === 'image'"
            [src]="'data:image/png;base64,' + data.base64"
            style="width: 100%; max-height: 500px; object-fit: contain"
          />

          <iframe
            *ngIf="data.fileType === 'pdf'"
            [src]="data.safeUrl"
            width="100%"
            height="500px"
          >
          </iframe>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
          <button mat-raised-button color="primary">Close</button>
        </mat-dialog-actions>
      </ng-template>
    </mat-card>
  </div>
</div>
