<div class="admin-container">
<div class="top-bar">
  <div class="searchBox">
    <i class="ri-user-search-fill"></i>
      <input type="text" id="search" [(ngModel)]="searchText" 
       (input)="onSearch()" placeholder="Search by name, mobile or ID" />

  </div>
  </div>


  <h2>Employee List</h2>
  <table *ngIf="filteredEmployees.length > 0; else noData">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Full Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Aadhar</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Delete</th>
      </tr>
    </thead>
     <tbody>
      <tr *ngFor="let emp of filteredEmployees">
        
        <td>{{ emp.employeeId }}</td>
        <td>{{ emp.fullName }}</td>
        <td>{{ emp.mobile }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.aadhar }}</td>
        <td>{{ emp.dob | date:'mediumDate' }}</td>
        <td>{{ emp.gender }}</td>
        <td>
          <button class="delete-btn" (click)="deleteEmployee(emp.employeeId)">
            <i class="ri-delete-bin-6-line"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
 

  <ng-template #noData>
    <p class="no-data">No employee data available.</p>
  </ng-template>

</div>