<app-nav-details></app-nav-details>
<form [formGroup]="declarationForm" (ngSubmit)="submitForm()">
  <h1 class="text-center" style="text-decoration: underline">
    Self Declaration
  </h1>
  <div>
    <mat-checkbox formControlName="checked">
      I hereby declare that all the information provided in the pre-onboarding
      process is correct and true to the best of my knowledge and belief.
    </mat-checkbox>
    <div
      class="error"
      *ngIf="
        declarationForm.get('checked')?.touched &&
        declarationForm.get('checked')?.invalid
      "
    >
      You must accept the declaration.
    </div>
  </div>

  <div class="form-grid" style="margin-top: 30px">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Signature</mat-label>
      <input
        matInput
        type="text"
        id="sign"
        formControlName="signature"
        placeholder="Enter your signature (e.g., John Doe)"
        class="input-padding"
      />

      <mat-error *ngIf="declarationForm.get('signature')?.errors?.['required']">
        Signature is required
      </mat-error>
      <mat-error
        *ngIf="declarationForm.get('signature')?.errors?.['invalidChars']"
      >
        Only alphabets allowed (no numbers or special characters)
      </mat-error>
      <mat-error
        *ngIf="declarationForm.get('signature')?.errors?.['minLength']"
      >
        Must be at least 3 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Date</mat-label>
      <input
        matInput
        type="date"
        id="date"
        formControlName="date"
        class="input-padding"
        [(ngModel)]="currentDate"
      />
      <mat-error
        *ngIf="
          declarationForm.get('date')?.touched &&
          declarationForm.get('date')?.invalid
        "
      >
        Date is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-group" style="margin-top: 20px">
    <div>
      <button type="button" class="back-button" (click)="back()">
        &laquo; Back
      </button>
    </div>
    <div>
      <button type="submit">submit</button>
    </div>
  </div>
</form>
