<app-nav></app-nav>
<div class="home-container animate-slide-in">
  <div class="text-section">
    <h1>Welcome to Our Platform</h1>
    <p>Your journey to something great begins here. Get started now!</p>
    <div class="button-group">
    <a routerLink="/adminLogin" class="onboard-btn">Admin Login</a>
    <a routerLink="/login" class="onboard-btn">User Login</a>
    </div>
  </div>

  <div class="image-section">
    <img src="assets/images/homePage_img.svg" alt="Welcome Image" />
  </div>
</div>
