<div class="carousel-container" (mouseenter)="pauseScroll()" (mouseleave)="resumeScroll()">

  <!-- <div class="dashboard-wrapper"> -->
  <!-- Left arrow -->
  <!-- <button
    *ngIf="allWishes.length > visibleCount"
    class="side-arrow left-arrow"
    (click)="previousPage()"
  >
    &#8592;
  </button> -->
  <div class="dashboard">
    <div
      *ngIf="filteredWishes.length === 0"
      class="card-single-card"
    >
      <div class="card-empty">No wishes available.</div>
    </div>

  <div class="carousel-track" #carouselTrack>

    <!-- <ng-container *ngIf="filteredWishes.length > 0 ; else noWishes"> -->
      <div class="card" *ngFor="let card of filteredWishes.concat(filteredWishes); trackBy: trackByWish"
        [attr.data-category]="card.category">


        <!-- <div
        class="card"
        *ngFor="let card of visibleCards"
        [attr.data-category]="card.category"
      > -->


        <div class="card-banner">
          <div class="profile-pic-container">
            <!-- <img [src]="card.image" alt="Profile Image" /> -->
            <img [src]="card.image || 'assets/userimg/OIP.jpg'" [alt]="card.name" />
          </div>
        </div>

        <div class="card-body">
          <h3>{{ card.name }}</h3>

          <!-- Greetings by category -->
          <p *ngIf="card.category === CATEGORY_BIRTHDAY" class="birthday-text">
            🎉 Wishing you a very Happy Birthday!
          </p>

          <p *ngIf="card.category === CATEGORY_ANNIVERSARY" class="anniversary-text">
            🎊 Happy Work Anniversary!
          </p>

          <p *ngIf="card.category === CATEGORY_ONBOARDING" class="onboard-text">
            👋 Welcome Onboard!
          </p>
        </div>
      </div>
    <!-- </ng-container> -->
<!-- 
    <ng-template #noWishes>
      <div class="card single-card">
        <div class="card-empty">
          No wishes available.
        </div>
      </div>
    </ng-template> -->
    <!-- </div> -->

    <!-- Right arrow -->
    <!-- <button
    *ngIf="allWishes.length > visibleCount"
    class="side-arrow right-arrow"
    (click)="nextPage()"
  >
    &#8594;
  </button> -->
  </div>
</div>