<div class="dashboard">
  <div class="card" *ngFor="let category of [CATEGORY_ONBOARDING, CATEGORY_BIRTHDAY, CATEGORY_ANNIVERSARY]">
    <ng-container *ngIf="getCurrentCard(category) as currentCard">
      <div class="card-banner">
        <div class="card-header">
          <button
            class="arrow-icon"
            title="Previous"
            (click)="previous(category)"
            [disabled]="
              (category === CATEGORY_ONBOARDING && onboardingWishes.length <= 1) ||
              (category === CATEGORY_BIRTHDAY && birthdayWishes.length <= 1) ||
              (category === CATEGORY_ANNIVERSARY && anniversaryWishes.length <= 1)
            "
          >&#8592;</button>
          <span class="category">{{ currentCard.category }}</span>
        </div>
        <div class="profile-pic-container" (click)="next(category)" tabindex="0" role="button" [attr.aria-label]="'Next ' + currentCard.name">
          <img [src]="currentCard.image" alt="Profile Image" />
        </div>
      </div>
      <div class="card-body">
        <h3>{{ currentCard.name }}</h3>
        <div class="date">{{ currentCard.date }}</div>
        <div class="role">{{ currentCard.role }}</div>
        <button
          *ngIf="currentCard.showButton"
          (click)="sendWishes(currentCard.name)"
          class="send-wishes-btn"
          [attr.aria-label]="'Send Wishes to ' + currentCard.name"
        >Send Wishes</button>
      </div>
    </ng-container>
    <ng-container *ngIf="!getCurrentCard(category)">
      <div class="card-empty">No wishes available.</div>
    </ng-container>
  </div>
</div>
