<div class="dashboard-container">
  <div class="banner">
    <h2>Payroll Dashboard</h2>
  </div>
  <div class="nav-buttons">
    <button class="nav-btn add" (click)="goToAddEmployee()">
      ➕ Add New Employee
    </button>
    <button class="nav-btn view" (click)="goToAllEmployees()">
      📋 View All Employees
    </button>
    <button class="nav-btn report" (click)="goToReports()">
      📊 Go to Reports
    </button>
  </div>

  <div class="cards">
    <div class="card total">
      <h3 class="total-head">Total Employees</h3>
      <p class="total-word">{{ totalEmployees }}</p>
    </div>
    <div class="card active">
      <h3 class="active-head">Active Employees</h3>
      <p class="active-word">{{ activeEmployees }}</p>
    </div>
    <div class="card inactive">
      <h3 class="inactive-head">Inactive Employees</h3>
      <p class="inactive-word">{{ inactiveEmployees }}</p>
    </div>
  </div>

  <div class="recent-section">
    <h3 class="table-head">Recently Added Employees</h3>

    <div *ngIf="recentEmployees && recentEmployees.length > 0">
      <table class="recent-table">
        <thead>
          <tr>
            <th>Emp ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of recentEmployees">
            <td data-label="Emp ID">{{ emp.id }}</td>
            <td data-label="Name">{{ emp.fullName }}</td>
            <td data-label="Email">{{ emp.email }}</td>
            <td data-label="Department">{{ emp.department }}</td>

          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noData>
      <p class="no-data">No recent employees found.</p>
    </ng-template>
  </div>
</div>
