<div class="banner">
  <h2>Change Password</h2>
</div>
<div class="container">
  <mat-stepper
    class="step-container"
    #stepper
    [orientation]="(stepperOrientation | async)!"
    (selectionChange)="onStepChange($event)"
    (keydown.enter)="$event.preventDefault()"
  >
  
    <mat-step [stepControl]="userDetailsGroup">
      <ng-template matStepLabel>
        <mat-icon>
          {{ selectedStep === 0 ? "lock_open" : "lock" }}
        </mat-icon>
        &nbsp; Verify Identity
      </ng-template>
      <div class="inside-container">
        <form [formGroup]="userDetailsGroup">

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Previous Password</mat-label>

            <input
              matInput
              [type]="showPrevious ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your Previous Password"
              required
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="showPrevious = !showPrevious"
            >
              <mat-icon>{{
                showPrevious ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                userDetailsGroup.get('password')?.hasError('required') &&
                userDetailsGroup.get('password')?.touched
              "
            >
              Previous password is required
            </mat-error>

            <mat-error
              *ngIf="userDetailsGroup.get('password')?.hasError('incorrect')"
            >
              Incorrect previous password
            </mat-error>
          </mat-form-field>

          <div class="center-btn">
            <button (click)="onNextClick(stepper)" #stepper>Next</button>
          </div>
        </form>
      </div>
    </mat-step>

  
    <mat-step [stepControl]="newPassGroup">
      <ng-template matStepLabel>
        <mat-icon>
          {{ selectedStep === 1 ? "lock_open" : "lock" }}
        </mat-icon>
        &nbsp; Set New Password
      </ng-template>
      <div class="inside-container inside-container-newpass">
        <form [formGroup]="newPassGroup" #newsetform="ngForm">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>New Password</mat-label>

            <input
              matInput
              [type]="showNew ? 'text' : 'password'"
              formControlName="newPassword"
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="showNew = !showNew"
            >
              <mat-icon>{{
                showNew ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                newPassGroup.get('newPassword')?.hasError('required') &&
                newPassGroup.get('newPassword')?.touched
              "
            >
              New password is required
            </mat-error>

            <mat-error
              *ngIf="
                newPassGroup.get('newPassword')?.hasError('pattern') &&
                newPassGroup.get('newPassword')?.touched
              "
            >
              Password must have at least 1 uppercase letter, 1 lowercase
              letter, 1 number, 1 special symbol (@ # $ & ! % * ? ^), minimum 8
              characters
            </mat-error>
            <mat-error
              *ngIf="newPassGroup.get('newPassword')?.hasError('sameAsOld')"
            >
              New password cannot be same as previous password
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Confirm Password</mat-label>

            <input
              matInput
              [type]="showConfirm ? 'text' : 'password'"
              formControlName="confirmPassword"
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="showConfirm = !showConfirm"
            >
              <mat-icon>{{
                showConfirm ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error *ngIf="newPassGroup.hasError('passwordRequired')">
              Password fields should be filled
            </mat-error>
            <mat-error
              *ngIf="newPassGroup.get('confirmPassword')?.hasError('mismatch')"
            >
              Passwords mismatch
            </mat-error>
          </mat-form-field>

          <div class="button-group">
            <button mat-button matStepperPrevious class="back-button">
              Back
            </button>
            <button
              class="submit-btn"
              (click)="onSubmit(stepper)"
              [disabled]="!isPrevPasswordValid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </mat-step>


    <mat-step>
      <div class="step-content-center">
        <ng-template matStepLabel>
          <mat-icon>
            {{ selectedStep === 2 ? "lock_open" : "lock" }}
          </mat-icon>
          &nbsp; Done
        </ng-template>

        <div class="success-wrapper" *ngIf="selectedStep === 2">
          <div class="success-circle">
            <svg viewBox="0 0 80 80" class="tick-svg">
              <path
                class="tick-path"
                fill="none"
                stroke="#FFFFFF"
                stroke-width="6"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20 45 L35 60 L60 25"
              />
            </svg>
          </div>
        </div>

        <mat-card-content>
          <p>Your Password Updated Successfully!!!</p>
        </mat-card-content>
        <div>
          <button class="home-btn" (click)="home()">Home</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
