.spacer {
  background-image: url(/assets/images/Admin_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.custom-form-field{
  display: flex;
}
.login-container {
  width: 400px;
  margin-top: 50px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.input-padding {
  padding: 0px !important;
}

h2 {
  margin-top:30px;
  text-align: center;
  font-size: 1.5rem;
  color: #000B3D;
}

.form-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4f46e5;
  outline: none;
}

.error {
  color: #e11d48;
  font-size: 13px;
  margin-top: 6px;
}

#error {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #4f46e5;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #4338ca;
}
.back-btn {
  width: 100%;
  padding: 12px;
   background-color: #6c757d;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #5a6268;
}
.password-wrapper {
  position: relative;
}
.button-group{
  display: flex;
  gap: 10px;
}

.password-wrapper input {
  padding-right: 60px; /* Make space for the Show/Hide button */
}

.toggle-text {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #4f46e5;
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
}
form {
  padding: 0px 35px 40px 35px;}
  
