<app-nav></app-nav>
<div class="spacer">
  <div class="login-container">
    <h2>ADMIN LOGIN</h2>
    <form [formGroup]="adminLoginForm" (ngSubmit)="onAdminLogin()">
      <div class="form-group">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Enter your admin email"
            class="input-padding"
          />
          <mat-error
            *ngIf="
              adminLoginForm.get('email')?.touched &&
              adminLoginForm.get('email')?.hasError('required')
            "
          >
            Valid email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group password-group">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Password</mat-label>
           <div class="password-wrapper">
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter your password"
            class="input-padding"
          />
          <button
            type="button"
            class="toggle-text"
            (click)="showPassword = !showPassword"
          >
            {{ showPassword ? "Hide" : "Show" }}
          </button>
          </div>
          <mat-error
            *ngIf="
              adminLoginForm.get('password')?.touched &&
              adminLoginForm.get('password')?.hasError('required')
            "
          >
            Password is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button class="back-btn" (click)="back()">Back</button>
      <button type="submit" class="login-btn" >Login</button>
    </div>
    </form>
  </div>
</div>