<app-nav-details></app-nav-details>

<div class="PV-container">
  <form [formGroup]="educationForm" (ngSubmit)="submitForm()">
    <div class="form-grid">
      <!-- Qualification -->
      <mat-form-field appearance="outline">
        <mat-label>Qualification</mat-label>
        <input
          matInput
          type="text"
          formControlName="qualification"
          placeholder="Enter Qualification (e.g., B.Tech, M.Sc)"
          class="input-padding"
          (keypress)="allowOnlyLetters($event)"
        />
        <mat-error *ngIf="educationForm.get('qualification')?.touched">
          <span
            *ngIf="educationForm.get('qualification')?.hasError('required')"
          >
            Qualification is required
          </span>
          <span
            *ngIf="educationForm.get('qualification')?.hasError('minlength')"
          >
            Must be at least 2 characters long
          </span>
          <span *ngIf="educationForm.get('qualification')?.hasError('pattern')">
            Only alphabets, spaces, and dots are allowed
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Specialization -->
      <mat-form-field appearance="outline">
        <mat-label>Specialization</mat-label>
        <input
          matInput
          type="text"
          formControlName="specilization"
          placeholder="Enter Specialization (e.g., Computer Science)"
          class="input-padding"
          (keypress)="allowOnlyLetters($event)"
        />
        <mat-error *ngIf="educationForm.get('specilization')?.touched">
          <span
            *ngIf="educationForm.get('specilization')?.hasError('required')"
          >
            Specialization is required
          </span>
          <span *ngIf="educationForm.get('specilization')?.hasError('pattern')">
            Only alphabets and spaces are allowed
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Institute Name -->
      <mat-form-field appearance="outline">
        <mat-label>Institute Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="instituteName"
          placeholder="Enter Institute Name"
          class="input-padding"
          (keypress)="allowOnlyLetters($event)"
        />
        <mat-error *ngIf="educationForm.get('instituteName')?.touched">
          <span
            *ngIf="educationForm.get('instituteName')?.hasError('required')"
          >
            Institute name is required
          </span>
        </mat-error>
      </mat-form-field>

      <!-- University Name -->
      <mat-form-field appearance="outline">
        <mat-label>University Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="universityName"
          placeholder="Enter University Name"
          class="input-padding"
          (keypress)="allowOnlyLetters($event)"
        />
        <mat-error *ngIf="educationForm.get('universityName')?.touched">
          <span
            *ngIf="educationForm.get('universityName')?.hasError('required')"
          >
            University name is required
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Study Mode -->
      <mat-form-field appearance="outline">
        <mat-label>Study Mode</mat-label>
        <mat-select formControlName="time">
          <mat-option value="">Select Study Mode</mat-option>
          <mat-option value="full_time">Full-time</mat-option>
          <mat-option value="part_time">Part-time</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            educationForm.get('time')?.touched &&
            educationForm.get('time')?.hasError('required')
          "
        >
          Study mode is required
        </mat-error>
      </mat-form-field>

      <!-- Education Type -->
      <mat-form-field appearance="outline">
        <mat-label>Education Type</mat-label>
        <mat-select formControlName="educationType">
          <mat-option value="">Select Education Type</mat-option>
          <mat-option value="school">School</mat-option>
          <mat-option value="diploma">Diploma</mat-option>
          <mat-option value="undergraduate">Undergraduate</mat-option>
          <mat-option value="postgraduate">Postgraduate</mat-option>
          <mat-option value="phd">Ph.D</mat-option>
          <mat-option value="certification">Certification</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            educationForm.get('educationType')?.touched &&
            educationForm.get('educationType')?.hasError('required')
          "
        >
          Education type is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>From (Start Date)</mat-label>
        <input
          matInput
          [matDatepicker]="fromPicker"
          formControlName="fromDate"
          placeholder="Select Start Date"
          (focus)="fromPicker.open()"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>

        <mat-error *ngIf="educationForm.get('fromDate')?.hasError('required')">
          Start date is required
        </mat-error>
      </mat-form-field>

      <!-- To Date -->
      <mat-form-field appearance="outline">
        <mat-label>To (End Date)</mat-label>
        <input
          matInput
          [matDatepicker]="toPicker"
          formControlName="toDate"
          placeholder="Select End Date"
          (focus)="toPicker.open()"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="toPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>

        <mat-error *ngIf="educationForm.get('toDate')?.hasError('required')">
          End date is required
        </mat-error>

        <!-- Custom date validation message -->
        <mat-error *ngIf="educationForm.get('toDate')?.hasError('dateRange')">
          End date cannot before start date
        </mat-error>
      </mat-form-field>

      <!-- percentage -->
      <mat-form-field appearance="outline">
        <mat-label>Percentage (%)</mat-label>
        <input
          matInput
          type="number"
          formControlName="percentage"
          placeholder="Enter Percentage (%)"
          step="0.01"
          min="1"
          max="100"
          class="input-padding no-spinner"
          (input)="onPercentageInput($event)"
          (keydown)="preventInvalidInput($event)"
        />
        <mat-error *ngIf="educationForm.get('percentage')?.touched">
          <span *ngIf="educationForm.get('percentage')?.hasError('required')">
            Percentage is required
          </span>
          <span
            *ngIf="
              educationForm.get('percentage')?.hasError('min') ||
              educationForm.get('percentage')?.hasError('max') ||
              educationForm.get('percentage')?.hasError('outOfRange')
            "
          >
            Percentage must be between 1 and 100
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Roll No -->
      <mat-form-field appearance="outline">
        <mat-label>Roll Number</mat-label>
        <input
          matInput
          type="text"
          formControlName="rollNo"
          placeholder="Enter Roll Number"
          class="input-padding"
        />
        <mat-error *ngIf="educationForm.get('rollNo')?.touched">
          <span *ngIf="educationForm.get('rollNo')?.hasError('required')">
            Roll number is required
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-group">
      <button
        class="back-button"
        type="button"
        routerLink="/mainlayout/previousEmployee"
      >
        &laquo; Back
      </button>
      <button type="submit">Next &raquo;</button>
    </div>
  </form>
</div>
