#navBar {
  background-color: #000B3D;
  align-content: center;
  text-align: center;
  color: white;
  align-items: center;
  height:80px;

}

#tvm {
  display: inline-block;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  font-weight: bold;
  margin: 0px;
}
