<div class="payroll-employee-container">
  <div class="employee-header mat-elevation-z2">
    <h2>
      <mat-icon color="primary">people</mat-icon>
      Active Employees
    </h2>

    <div class="emp-right-header">
      <button
        mat-raised-button
        color="primary"
        (click)="navigateToAddEmployee()"
      >
        <mat-icon>person_add</mat-icon>
        Add Employee
      </button>
    </div>
  </div>

  <div class="filters mat-elevation-z1">
    <mat-form-field appearance="outline">
      <mat-label>Work Location</mat-label>
      <mat-select [(value)]="selectedLocation">
        <mat-option value="">All Locations</mat-option>
        <mat-option *ngFor="let loc of uniqueLocations" [value]="loc">
          {{ loc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="selectedStatus">
        <mat-option value="">All Status </mat-option>
        <mat-option *ngFor="let status of uniqueStatuses" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <mat-select [(value)]="selectedDesignation">
        <mat-option value="">All Departments</mat-option>
        <mat-option *ngFor="let des of uniqueDesignations" [value]="des">
          {{ des }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="filter-actions">
      <button mat-flat-button color="primary" (click)="applyFilters()">
        <mat-icon>search</mat-icon>
        Search
      </button>
      <button mat-stroked-button color="warn" (click)="resetFilters()">
        <mat-icon>refresh</mat-icon>
        Reset
      </button>
    </div>
  </div>

  <p class="employee-count">
    <b>Total Employees:</b> {{ filteredEmployees.length }}
  </p>

  <div class="employee-table mat-elevation-z2">
    <table mat-table [dataSource]="filteredEmployees" class="mat-elevation-z1">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>EMP ID</th>
        <td mat-cell *matCellDef="let emp" class="clickable text-success">
          {{ emp.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Employee Name</th>
        <td mat-cell *matCellDef="let emp">
          {{ emp.fullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let emp">{{ emp.department }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let emp">
          <span
            [ngClass]="{
              'text-success': emp.status === 'Active',
              'text-danger': emp.status === 'Deactivated'
            }"
          >
            <b>{{ emp.status }}</b>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let emp">{{ emp.location }}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let emp">
          <div class="action-buttons">
            <button class="view-btn"
              mat-stroked-button
              color="primary"
              [routerLink]="['/mainlayout/payroll-employee', emp.id]"
            >
              <mat-icon>visibility</mat-icon>
              View
            </button>
            <button class="add-btn" mat-raised-button color="primary" (click)="viewPayRun(emp)">
              <mat-icon>add</mat-icon>
              Add Salary
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div
      class="no-data mat-elevation-z1"
      *ngIf="filteredEmployees.length === 0"
    >
      <mat-icon color="warn">error_outline</mat-icon>
      No employees found for selected filters.
    </div>
  </div>
</div>
