<div class="signup-container">
  <h2><i class="ri-user-add-fill"></i> Create User</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-grid">

    <!-- Full Name -->
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" formControlName="fullName" placeholder="Full name" />
      <div *ngIf="signupForm.get('fullName')?.touched && signupForm.get('fullName')?.invalid" class="error">
        Required
      </div>
    </div>

    <!-- Mobile -->
    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" formControlName="mobile" placeholder="9876543210" maxlength="10"/>
      <div *ngIf="signupForm.get('mobile')?.touched && signupForm.get('mobile')?.invalid" class="error">
        10-digit mobile number required
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="example@gmail.com" />
      <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="error">
        Please enter a valid Gmail address (example@gmail.com).
      </div>
      
    </div>

    <!-- Aadhar -->
    <div class="form-group">
      <label>Aadhar Number</label>
      <input type="text" formControlName="aadhar" placeholder="12-digit Aadhar" />
      <div *ngIf="signupForm.get('aadhar')?.touched && signupForm.get('aadhar')?.invalid" class="error">
        Valid Aadhar required
      </div>
    </div>

    <!-- DOB -->
    <div class="form-group">
      <label>Date of Birth</label>
      <input type="date" formControlName="dob" />
      <div *ngIf="signupForm.get('dob')?.touched && signupForm.get('dob')?.invalid" class="error">
        DOB required
      </div>
    </div>

    <!-- Gender -->
    <div class="form-group">
      <label>Gender</label>
      <select formControlName="gender">
        <option value="" disabled>Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
      <div *ngIf="signupForm.get('gender')?.touched && signupForm.get('gender')?.invalid" class="error">
        Gender required
      </div>
    </div>

    <!-- Password -->
    <div class="form-group password-field">
  <label for="password">Password</label>
  <div class="password-input-wrapper">
    <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" />
    <span class="toggle-password" (click)="togglePassword()">
      {{ showPassword ? 'Hide' : 'Show' }}
    </span> 
  </div>

 <!-- Invalid Password Pattern Error -->
  <div class="error" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['pattern']">
    Password must start with a capital letter, include digits, and one special character (@, #, $, &), and be at least 8 characters long.
  </div>

  <!-- Required Field Error -->
  <div class="error" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']">
    Password is required.
  </div>
</div>


    <!-- Confirm Password -->
   <div class="form-group password-field">
  <label for="confirmPassword">Confirm Password</label>
  <div class="password-input-wrapper">
    <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword" />
    <span class="toggle-password" (click)="toggleConfirmPassword()">
      {{ showConfirmPassword ? 'Hide' : 'Show' }}
    </span>
  </div>
   <!-- Required Field Error -->
  <div class="error" *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.errors?.['required']">
    Confirm password is required.
  </div>

  <!-- Password Mismatch Error -->
  <div class="error" *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched">
    Password and Confirm Password do not match.
  </div>
</div>

    <!-- Submit Button (Full Width) -->
    <div class=" full-width">
      <button type="submit" [disabled]="signupForm.invalid">Create</button>
    </div>
    <div class="back-button">
      <button (click)="goBack()">cancel</button>
    </div>
  </form>

  <div class="login-link">
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
</div>
