<div class="calendar-container">
  <h2>📅 Holiday Calendar</h2>

  <div *ngIf="isLoading" class="loading">Loading holidays...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div class="table-wrapper">
  <table *ngIf="!isLoading && holidays.length > 0" class="holiday-table">
    <thead>
      <tr>
        <th class="serial">SL NO</th>
        <th class="h-name">HOLIDAY NAME</th>
        <th class="date">DATE</th>
        <th class="d-name">DAY NAME</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let holiday of holidays; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ holiday.name }}</td>
        <td>{{ holiday.date | date : "dd-MM-yyyy" }}</td>
        <td>{{ holiday.day_Name }}</td>
      </tr>
    </tbody>
  </table>
   </div>
  <div *ngIf="!isLoading && holidays.length === 0" class="no-data">
    No holidays found.
  </div>
</div>
