<app-nav-display></app-nav-display>

<div *ngIf="employeeDetails?.certification?.length === 0">
  <p>No certificates added.</p>
</div>

<div *ngFor="let cert of employeeDetails?.certification">
  <form class="form-grid">
    <div class="form-group">
      <label>Certificate Name</label>
      <input type="text" [value]="cert.certificateName" readonly />
    </div>

    <div class="form-group">
      <label>Certified by</label>
      <input type="text" [value]="cert.certifiedBy" readonly />
    </div>

    <div class="form-group">
      <label>Completion Date</label>
      <input type="date" [value]="cert.completionDate" readonly />
    </div>

    <div class="form-group">
      <label>Marks</label>
      <input type="number" [value]="cert.marks" readonly />
    </div>
  </form>
</div>

<div class="button-group">
  <a [routerLink]="['/mainlayout/empskills', employeeDetails?.id]"
    >&laquo; Previous</a
  >
  <a
    [routerLink]="['/mainlayout/empdocument', employeeDetails?.id]"
    class="update-button"
    >Next &raquo;</a
  >
</div>
